.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

.title-page {
    text-align: center;
    color: white;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 800px;
    width: 550px;
}

.start-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 200px;
    font-size: xx-large;
}

.go-home-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 230px;
    font-size: xx-large;
    margin-top: 10px;
    background-color: #D3D3D3;
    border-color: darkslategrey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.center-table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0.5em;
}

.th-prod {
    width: 500px;
    font-size: larger;
    padding: 20px;
    border: 1px solid black;
    margin-bottom: 20px;
    background-color: #D3D3D3;
    background-color: rgba(211, 211, 211, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.prod-table-div {
    color: black;
    margin: 30px 50px;
}

.prod-tab-row {
    text-align: center;
    background-color: #D3D3D3;
    background-color: rgba(211, 211, 211, 0.6);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.prod-tab-d {
    font-size: larger;
    border-spacing: 50px;
}

.tab-img {
    float: left;
    width: 50%;
    height: 50%;
}

.img-buttons {
    display: block;
    height: 30px;
    width: 150px;
    font-size: medium;
    margin: 25px auto 5px;
}

.prod-table-header {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
    text-align: center;
    background-color: rgba(211, 211, 211, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.desc-pre {
    margin: 0;
    font-size: x-large;
}